{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow-lg rounded">
                <div class="card-body p-5">
                    <h2 class="text-center text-primary mb-4">User Login</h2>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                       
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email"
                                   placeholder="Enter your email" required>
                        </div>

                       
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password"
                                   placeholder="Enter your password" required>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                        </div>

                        
                        <p class="text-center mt-3">
                            New user? <a href="/register/">Create Account</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}